PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@tddcluster.nh9au6i.mongodb.net/car_inventory_db?retryWrites=true&w=majority&appName=TDDcluster
JWT_SECRET=super_secret_jwt_key_change_in_production_12345
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
